<h2> You can't find what you want? Fill out the form to ask your personnal shopper to buy an item on demand </h2>

<% if(@brand) %>
    <%= form_for([@brand, @item], html: {class: :new_item_form, id: :new_item_by_brand }) do |f| %>
        <%= render "items/new_item_form",f: f %>
    <% end %>
<% else %>
    <%= form_for([@category, @item], html: {class: :new_item_form, id: :new_item_by_category }) do |f| %>
        <%= render "items/new_item_form",f: f %>
    <% end %>
<% end %>


<div id= new_item_hook></div>

<script id="new-item-template" type="text/x-handlebars-template">
    <div class="entry">
        <h1>{{name}}</h1>
        <h3>Color: {{color}}</h3>
        <h3>Description: {{description}}</h3>
    </div>
</script>