<h1><%= @brand.name %></h1>

<%= form_tag("/brands/#{@brand.id}", method: :get, id: "brand_items") do %>
    <%= submit_tag("See " + @brand.name + " items") %>
<% end %>

<div id="brandItemsHook"></div>


<%= link_to "Buy an unlisted item", new_brand_item_path(@brand) %>