<!DOCTYPE html>
<html>
  <head>
  <h1> Welcome to your personnal shopper portal! </h1>
  <h2> Featured categories </h2>
      <% Category.all.each do |category|  %>
          <ul>
              <li><%= link_to category.name, category_path(category) %></li>
          </ul>
      <% end %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer><br><br><br>
  <%= link_to "Home", root_path %>

  <%= link_to "Logout", logout_path %>
  </footer>
</html>
